@media only screen and (min-width:300px) and (max-width: 640px) {
    /*.right *{*/
        /*max-width: 100%;*/
        /*height: inherit !important;*/
    /*}*/
    /*.owl-nav,.head1, .navHome, .left, .WNewsFreeShip, .feature, .feature2, .lN, .titleHome, .lP, .RegisterLogin, .formSearch, .btSearch{*/
        /*display: none !important;*/
    /*}*/
    .formSearch{
        display: none;
    }
    .head1 .col-md-6{
        width: 50%;
        float: left;
        display: inline-block;
        height: 35px;
        overflow: hidden;
    }
    .head2{
        height: auto;
    }
    .w1230{
        width: auto;
    }
    ul.account{
        display: inline-block;
        width: 100%;
    }
    ul.account>li:nth-child(1) a{
        width: 16px;
        display: inline-block;
        overflow: hidden;
        height: 35px;
    }
    ul.account>li:nth-child(2) a{
        display: none;
    }

    .navHome{
        margin: 15px 0;
    }
    .navMobile{
        display: block;
    }
    ul.cart>li>a {
        width: 13px;
        display: inline-block;
        height: 30px;
        overflow: hidden;
    }
    #searchMobile{
        display: block;
    }
    .head2 .col-md-8>div{
        text-align: center;
    }
    .head2 .col-md-8>div>a{
        float: none;
        display: inline-block;
    }
    .head2 .col-md-8>div>a:nth-child(2){
        border-right: none;
        padding: 0 0 0 5px;
    }
    .head2 .col-md-8>div>a:first-child{
        padding: 0 5px 0 0;
    }
    .logo{
        width: 150px;
        margin: 25px 0;
        display: block;
    }
    .logo img{
        max-width: 100%;
    }
    #searchMobile{
        position: relative;
        margin: 10px 0 0 0;
    }
    #searchMobile input[type=text]{
        border: 1px solid #111;
        padding: 0 0;
        text-indent: 10px;
        height: 32px;
        background: #FFF;
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border-radius: 0;
        width: 99.5%;
    }
    #searchMobile input[type=text]:focus{
        outline: none;
    }
    .btnMobileSearch{
        position: absolute;
        top: 11px;
        right: 7px;
        width: 15px;
        height: 15px;
        background: url(/tp/F00002/img/a.png) no-repeat 0px 0px;
        border: none;
        padding: 0 0;
    }
    #banner{
        border-top: 2px solid #000;
    }
    .navMobile{
        margin: 15px 0 0 0;
    }
    .navMobile>ul>li{
        border-top: 1px solid #CCC;
        padding: 0px 0;
    }
    .navMobile>ul>li:last-child{
        border-bottom: 1px solid #CCC;
    }
    .navMobile>ul>li>a{
        color: #333;
        font-family: 'AvantGardeBold';
        padding: 8px 0;
        display: block;
        text-transform: uppercase;
    }
    .navMobile ul li ul{
        display: none;
    }
    .feature2>div>div>img{
        width: 100%;
    }
    .feature2>div.col-md-4>div:nth-child(1){
        margin: 15px 0 0 0;
    }
    .feature2>div.col-md-4>div:nth-child(2){
        margin: 15px 0;
    }
    .feature2>div>div>div>h2{
        font-size: 30px;
    }
    .feature2>div>div>div>p{
        font-size: 17px;
    }
    .feature2>div>div>div>a{
        width: 130px;
        font-size: 13px;
    }
    #menuMobile{
        display: block;
        width: 40px;
        margin: 10px auto;
        border: 1px solid #CCC;
        padding: 5px 10px;
        color: #333;
        cursor: pointer;
        text-align: center;
        position: absolute;
        top: -65px;
        right: 15px;
    }
    .navHome{
        display: none;
    }
    .navHome.open{
        display: block;
        position: absolute;
        z-index: 2;
        margin: 0 0;
        left: 15px;
        right: 15px;
        padding: 5px 0;
        border-bottom: 2px solid #333;
        background: #f9f9f9;
    }
    .navHome.open ul{
        text-align: left;
    }
    .navHome.open ul li{
        display: block;
    }
    .navHome>ul>li {
        margin: 7px 15px;
    }
    .lPC li:nth-child(3n+0){
        margin: 0 4% 0 0;
    }
    #product{
        display: block !important;
    }

    /********** Footer ************/
    ul.f1>li{
        border-right: none;
        height: inherit;
    }
    ul.f1>li, ul.f2>li{
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
        padding: 0 0
    }
    ul.f1>li>form>input[type=text]{
        width: 183px;
    }

    /****** Category *********/
    .lPC li{
        width: 48%;
        float: left;
        margin: 0 4% 0 0;
    }
    .lPC li:nth-child(2n+0){
        margin: 0 0;
    }

    /******* View Product *********/
    #imgZoom{
        display: none;
    }
    .descriptionProduct{
        width: 100%;
        margin: 0 0;
        float: none;
    }
    #product{
        display: block !important;
        margin: 0 0 10px 0;
    }
    #product .owl-controls .owl-pagination span{
        height: 1px;
    }

    .cart table tr:first-child{
        display: none;
    }
    .cart table tr{
        width: 100%;
    }
    .cart table tr td:nth-child(1), .cart table tr td:nth-child(3),.cart table tr td:nth-child(4){
        display: none;
    }
    .cart table tr:last-child td:nth-child(1){
        display: block;
    }
    .cart h1{
        text-align: center;
    }
    .checkout>form>.col-md-6:nth-child(2){
        margin: 20px 0 0 0;
    }

    /******** News  **********/
    .navNews li {
        margin: 0 8px;
    }
    .lNCategory li{
        margin: 0 0 15px 0;
    }
    .lN li {
        width: 100%;
        float: none;
        margin: 0 0 10px 0;
        height: initial;
    }
    .lNCategory li:nth-child(3n+0) {
        margin: 0 0 10px 0;
    }
    .detailNews {
        width: 100%;
    }
    .signup ul{
        width: 100%;
    }
    .signup ul li input{
        width: 100%;
    }
    .signup ul li label {
        margin: 0px 0 5px 0;
    }
}
@media only screen and (min-width:640px) and (max-width:700px){
    .descriptionProduct {
        width: 33%;
        margin: 0 0 0 3%;
    }
}
@media only screen and (min-width:700px) and (max-width:800px){
    .descriptionProduct {
        width: 38%;
        margin: 0 0 0 3%;
    }
}
@media only screen and (min-width:800px) and (max-width:900px){
    .descriptionProduct {
        width: 44%;
        margin: 0 0 0 3%;
    }
}
@media only screen and (min-width:900px) and (max-width:1024px){
    .descriptionProduct {
        width: 44%;
        margin: 0 0 0 3%;
    }
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    .descriptionProduct {
        width: 55%;
        margin: 0 0 0 3%;
    }
}

@media only screen and (min-width:640px) and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    .head .col-md-3{
        width: 40%;
        float: left;
    }
    .head .col-md-6{
        width: 20%;
        float: left;
    }
    .head .col-md-12{
        display: inline-block;
        width: 100%;
    }
    ul.lP li, ul.lP li:nth-child(4n+0){
        width: 32%;
        margin: 0 2% 10px 0;
        height: inherit;
    }
    ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }
    ul.f1>li>form>input[type=text]{
        width: 50%;
    }

    .productCategory .left {
        width: 25%;
        float: left;
    }

    .productCategory .right {
        float: right;
        width: 73%;
    }
    .productCategory .right ul.lP li, .productCategory .right ul.lP li:nth-child(4n+0){
        margin: 0 2% 10px 0;
    }
    .productCategory .right ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }

}
@media only screen and (min-width:1024px) and (max-width:1200px) {
    ul.lP li {
        width: 227px;
        height: inherit;
        margin: 0 10px 10px 0;
    }
    ul.lP li:nth-child(4n+0) {
        margin: 0 0 10px 0;
    }

    .productCategory .left {
        width: 25%;
        float: left;
    }

    .productCategory .right {
        float: right;
        width: 73%;
    }
    .productCategory .right ul.lP li, .productCategory .right ul.lP li:nth-child(4n+0){
        margin: 0 2% 10px 0;
    }
    .productCategory .right ul.lP li:nth-child(3n+0){
        margin: 0 0 10px 0;
    }
}
@media only screen and (min-width:1024px) and (max-width:1600px) {

}